@media (max-width: 767px) {
	.headerSection{
		height:auto;
	}
	.blue-bg{
		padding: 40px 15px;
	}
	h1 {
		font-size: 22px;
	}
	.SC-partner-logo .col {
		-ms-flex-preferred-size: 0;
		flex-basis: initial;
		-ms-flex-positive: 1;
		flex-grow: inherit;
		max-width: 50%;
		width: 50%;
	}
	.SC-partner-logo .col img{
		margin:0 0 20px;
	}
	.SC-see-whatsliveBox .description{
		height: auto;
	}
	.navbar-light .navbar-nav .nav-link {
		padding: 8px 10px;
	}
	.nav-tabs .nav-item {
		margin-bottom: 10px;
		display: block;
		width: 100%;
	}
	.SC-fuss-about h4{
		width:100%;
	    font-size: 15px;
		margin-bottom: 30px;
	}
	.google-rating p{
		font-size: 11px;
	}
	.SC-hero-bg .white-bg{
		width: 100%;
		margin: 35px auto;
		padding: 15px 10px;
	}
	h3 {
		font-size: 25px;
	}
	.SC-MainCitiesStyled {
		border-bottom: 1px solid #eee;
		overflow: scroll hidden;
		white-space: nowrap;
	}
	.SC-MainCitiesStyled ul li{
		padding: 0 8px;
	}
	.common-code .card{
		padding: 20px
	}
	.text-muted.pt-5 {
		padding-top: 0rem !important;
	}
	h2 {
		font-size: 25px;
	}
	#myModal .modal-dialog{
		margin: 0;
	}
	#myModal .SC-request-steps{
		overflow-y: inherit;
		height: auto;
	}
	.btn-email-btn{
		margin:0;
		min-width: calc(100% - 8px);
	}
	.btn-password-btn{
		margin: 10px 0;
		min-width: calc(100% - 8px);
	}
	.SC-request-steps #date {
		width: 100%;
	}
	.SC-request-steps #token {
		width: 12%;
	}
	.headerSection .fixed-top {
		position: relative;
	}
	.inner-page .middle-content-area {
		margin-top: 0;
	}
	.SC-NavigationStyled {
		border-bottom: 1px solid #eee;
		overflow: scroll hidden;
		white-space: nowrap;
	}
	.SC-NavigationStyled ul li:last-child i {
		position: relative;
	}
	.SC-sign-in .gray-bg .p-5 {
		padding: 1rem !important;
	}
	.remember-me-txt{
		font-size: 12px;
	}
	.forgot-txt{
		font-size: 12px;
	}
	.SC-contact .gray-bg .px{
		padding-left: 25px !important;
		padding-right: 25px !important;
	}
	ul.social-icon{
		margin: 0 0 15px;
	}
}
@media (min-width: 768px) and (max-width: 991.98px) {
	.navbar-light .navbar-nav .nav-link {
		padding: 8px 10px;
	}
	.navbar-light .navbar-nav.ml-auto .nav-item:last-child a{
		width: auto;
		display: inline-block;
	}
	.SC-infoBox {
		padding: 10px !important;
	}
	.SC-infoBox h4{
		font-size: 16px;
	}
	.SC-infoBox p{
		font-size: 12px;
	}
	.nav-tabs .nav-link{
		margin-right: 15px;
	}
	.SC-fuss-about h2 {
		font-size: 28px;
	}
	.SC-fuss-about h4 {
		width: 100%;
		font-size: 18px;
	}
	.google-rating h3{
		font-size: 20px;
	}
	.google-rating p{
		font-size: 9px;
	}
	
	#myModal .SC-request-steps{
		overflow-y: inherit;
		height: auto;
	}
	.btn-email-btn{
		margin:0;
		min-width: calc(50% - 8px);
	}
	.btn-password-btn{
		margin: 10px 0;
		min-width: calc(50% - 8px);
	}
	.SC-request-steps #date {
		width: 100%;
	}
	.SC-request-steps #token {
		width: 12%;
	}
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	.navbar-light .navbar-nav .nav-link {
		padding: 0 5px;
	}
	.SC-fuss-aboutBox h6{
		font-size: 15px;
	}
	.SC-fuss-aboutBox p{
		font-size: 12px;
	}
	.SC-fuss-about h4 {
		width: 100%;
		font-size: 24px;
	}
	.SC-request-steps #token{
		width: 9%;
	}
	.btn-email-btn{
		min-width: calc(45% - 8px);
	}
	.btn-password-btn{
		min-width: calc(45% - 8px);
	}
}
